<div style="text-align:center">

        <header>

                <nav class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand"  routerLink="/Home" routerLinkActive="active">ONLINEDALALISHOP</a>
                    </div>
                    <ul class="nav navbar-nav">
                      <li >
                        <a routerLink="/Owners">Owners</a>
                      </li>
                      <li>
                        <a routerLink="/Clients">Clients</a>
                      </li>
                      <li>
                        <a routerLink="/Vendors">Vendors</a>
                      </li>
                      <li>
                        <a routerLink="/Transporters">Transporters</a>
                      </li>
                      <li>
                        <a routerLink="/Buyers">Buyers</a>
                      </li>
                      <li>
                        <a routerLink="/Helpers">Helpers</a>
                      </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li>
                        <a href="#">
                          <span class="glyphicon glyphicon-user"></span> Sign Up</a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="glyphicon glyphicon-log-in"></span> Login</a>
                      </li>
                    </ul>
                  </div>
                </nav>
                <router-outlet></router-outlet>
              </header>
              <footer>
                    @CopyRight Kiran
                  </footer>
    <!-- <app-home></app-home> -->
 
</div>


