
  <div class="container">
    <main>
      <article>
        <div class="col-md-8">
          <div class="jumbotron">
            <section>
              Hello , Welocme to the Online Dalali Shop UI PLease , UI is Provided to help the Shop Owners to manage thier Clients, Helpers,
              Vendors, Transporters and Buyers. And also to keep track of the Daily Transactions happening in their shops
            </section>
          </div>
        </div>
        <div class="col-md-4">  
          <aside>
            <div class="jumbotron float-left">
              UI will be very helpfull to the most the Users , they can keep track of the things that is being Done.
            </div>
          </aside>
        </div>
      </article>
    </main>
  </div>
